<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Qiita Info API</title>
</head>
<body>
  <div id="app">
    <p>
      <input type="text" v-model="keyword">
    </p>
    <p>
      {{ message }}
    </p>
    <ul>
      <li v-for="item in items">
        <!-- {{item.title}} -->
        <a v-bind:href="item.url" target="_blank">{{item.title}}</a> likes: {{ item.likes_count }}
      </li>
    </ul>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>